workflows/[PROD] 0. Job Deleted.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get B#ALL Master Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get B#ALL Master Record": {
      "main": [
        [
          {
            "node": "DELETE B#ALL Master Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-11T02:37:45.458Z",
  "id": "34",
  "name": "[PROD] 0. Job Deleted",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ '{\"challenge\": \"'+$json[\"body\"][\"challenge\"]+'\"}' }}",
        "options": {}
      },
      "id": "b308dc7a-5e2a-4ce6-8586-109348cccbd6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1380,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab66141d-6f8d-41f6-bc68-fef62ca71f8f",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d6b923-02df-48dc-ae9f-a7de9d7f9f6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1180,
        440
      ],
      "webhookId": "ab66141d-6f8d-41f6-bc68-fef62ca71f8f"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "3729016273",
        "columnId": "name",
        "columnValue": "={{ $json.body.event.itemName }}"
      },
      "id": "77ba28f4-bc55-4af9-968d-ae6592ce9ab1",
      "name": "Get B#ALL Master Record",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1380,
        440
      ],
      "retryOnFail": true,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "delete",
        "itemId": "={{ $json.column_values[2].text }}"
      },
      "id": "4f774007-a1da-4f7e-bb81-78ded411cb0d",
      "name": "DELETE B#ALL Master Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1560,
        440
      ],
      "retryOnFail": true,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "content": "## Job Deleted\n\n### Purpose\nDeletes the Master Record matching the address of the deleted item\n\n### Connected to \n1. Henley Boards 1 to 9",
        "height": 257,
        "width": 494
      },
      "id": "5cfd85b5-6507-457a-b446-d7d9247fb99c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Release Notes\n\n**11 June 2023** - First release",
        "height": 255,
        "width": 543.125
      },
      "id": "8db0e9dc-ff81-4d95-8ddf-ad9da02c5b64",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        640
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "36"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-16T07:22:59.000Z",
  "versionId": "ff68aa07-a61e-4301-bfe0-c649bba856fd"
}