workflows/[PROD] 5a. Move Job from Board 5 to 6.json
{
  "active": true,
  "connections": {
    "Get ALL JOBS Item": {
      "main": [
        [
          {
            "node": "Get Board ALL JOBS Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer Column Data": {
      "main": [
        [
          {
            "node": "Update to B6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Board #5 Item": {
      "main": [
        [
          {
            "node": "Create Item Board #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item Board #6": {
      "main": [
        [
          {
            "node": "Get Board #6 Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Board #5 Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Board #6 Item": {
      "main": [
        [
          {
            "node": "Get ALL JOBS Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update to B6": {
      "main": [
        [
          {
            "node": "Move to Group 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Group 6": {
      "main": [
        [
          {
            "node": "Get Today's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Date": {
      "main": [
        [
          {
            "node": "Update Completion Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Completion Date": {
      "main": [
        [
          {
            "node": "Delete Item Board #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Master Update": {
      "main": [
        [
          {
            "node": "Transfer Column Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Board ALL JOBS Item": {
      "main": [
        [
          {
            "node": "JSON Master Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Item Board #5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-22T03:46:27.440Z",
  "id": "13",
  "name": "[PROD] 5a. Move Job from Board 5 to 6",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ '{\"challenge\": \"'+$json[\"body\"][\"challenge\"]+'\"}' }}",
        "options": {}
      },
      "id": "f0c518ad-0d59-4027-8ef7-e4cc59ec916a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1860,
        60
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "3613870772",
        "itemId": "={{ $node[\"Get Board #6 Item\"].json[\"id\"] }}",
        "columnValues": "={{ $json[\"result\"] }}"
      },
      "id": "0b228d92-fadb-4826-b875-b11a0748bb3d",
      "name": "Transfer Column Data",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2880,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "value": "={{ \n   JSON.stringify(\n     {\n       \"text2\"     :$node[\"Get Board #5 Item\"].json[\"column_values\"][0][\"text\"],\n       \"text3\"     :$node[\"Get Board #5 Item\"].json[\"column_values\"][2][\"text\"],\n       \"date2\"    :$node[\"Get Board #5 Item\"].json[\"column_values\"][4][\"text\"]\n\n})\n\n/*\n,\n       \"text72\"   :$node[\"Get Board #5 Item\"].json[\"column_values\"][3][\"value\"],\n       \"no_inverters\"  :$node[\"Get ALL JOBS Item\"].json[\"column_values\"][23][\"value\"].replace(/[^0-9]/g, ''),\n       \"numeric7\"  :$node[\"Get Board #5 Item\"].json[\"column_values\"][7][\"value\"].replace(/[^0-9]/g, ''),\n\n\n       \"board_relation1\" : {\"item_ids\":[JSON.parse($node[\"Get Board #5 Item\"].json[\"column_values\"][10][\"value\"]).linkedPulseIds[0].linkedPulseId]},\n       \"numeric\"   :$node[\"Get Board #5 Item\"].json[\"column_values\"][9][\"value\"].replace(/[^0-9]/g, '')\n*/\n\n/*\n    Outstanding: \n         1. The Optional Extras multi Select\n*/\n\n/*\n * List of columns in Board #3 that need to be updated from Board #1\n *\n * B#3 COLUMN NAME              B#3 COLUMN ID            B#2 COLUMN #       B#2 COLUMN\n * Henley PO #                  text2                          1\n * Requested Date               date59                         19\n * Install Windoe\n * # Panels\n * Panel Model\n * Panel Brand\n * Inverter KW\n * Supervisor \n * Optional Extras\n */\n\n}}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "8daf091f-b02c-4923-a3b3-079866e7684b",
      "name": "Construct JSON Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2640,
        120
      ]
    },
    {
      "parameters": {
        "content": "## Move Board 5 to 6",
        "height": 80,
        "width": 242.84030001427743
      },
      "id": "a3c03219-5c33-4ed4-a805-9554444179d1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        80
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "3729016273",
        "columnId": "name",
        "columnValue": "={{ $json[\"name\"] }}"
      },
      "id": "6ec3380a-82f0-4ea7-a7d1-0494c6efc272",
      "name": "Get ALL JOBS Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2340,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "delete",
        "itemId": "={{ $node[\"Get Board #5 Item\"].json[\"id\"] }}"
      },
      "id": "6963dc0e-a83e-4e8b-b5be-6e07a7638642",
      "name": "Delete Item Board #5",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3200,
        540
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "3754002055",
        "columnId": "item_id",
        "columnValue": "={{ JSON.stringify($json[\"body\"][\"event\"][\"pulseId\"]) }}"
      },
      "id": "fb62b9dd-8e40-416a-afd7-14f4626054f7",
      "name": "Get Board #5 Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "3613870772",
        "groupId": "topics",
        "name": "={{ $json[\"name\"] }}",
        "additionalFields": {}
      },
      "id": "d779fa1d-a562-4002-9fcd-29529b69aee5",
      "name": "Create Item Board #6",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1920,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "62ff73ea-4a70-40ff-8969-1ad2287d5d67",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2dbdbbfe-3a99-478f-957c-2db843695172",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ],
      "webhookId": "62ff73ea-4a70-40ff-8969-1ad2287d5d67"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "itemId": "={{ $json[\"id\"] }}"
      },
      "id": "d37db861-2154-4cf3-852b-e2b002e7fe82",
      "name": "Get Board #6 Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2140,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "3729016273",
        "itemId": "={{ $node[\"Get Board ALL JOBS Item\"].json[\"id\"] }}",
        "columnValues": "={{ \n\n JSON.stringify({\"dup__of_load_1drive4\":\"6. Stage 2 Booked\"})\n\n }}"
      },
      "id": "e36cd07b-49d7-4828-be3c-1983d741b101",
      "name": "Update to B6",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2420,
        540
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "move",
        "boardId": "3729016273",
        "itemId": "={{ $json[\"id\"] }}",
        "groupId": "new_group36079"
      },
      "id": "c6e12f8e-a0f3-44b1-969f-0476576c78ef",
      "name": "Move to Group 6",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2620,
        540
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var date_today = new Date().toISOString().slice(0, 10);\n\n//items[0].json.date_today = date;\n\nreturn {date_today};"
      },
      "id": "d347bafc-d2be-467b-87d8-0693b755709e",
      "name": "Get Today's Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2820,
        540
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "3729016273",
        "itemId": "={{ $node[\"Move to Group 6\"].json[\"id\"] }}",
        "columnValues": "={{ \n\n         JSON.stringify({\"dup__of_ces_sent_to_henley\":$node[\"Get Today's Date\"].json[\"date_today\"] })\n\n }}"
      },
      "id": "18ae134e-5d6f-44e6-9d8f-ca135472f5bc",
      "name": "Update Completion Date",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3020,
        540
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = $node[\"Get Board #2 Item\"].json[\"column_values\"][13][\"value\"];\n//return {data};\nlet dependencyList = data.linkedPulseIds.map(u => u.linkedPulseId);\nreturn dependencyList;\nlet json_result = '{\"' +  $node[\"Get B#All_Jobs Column ID\"].json[\"all_jobs_column_changed_id\"];\njson_result += '\": {\"item_ids\":[' + dependencyList.join(\",\");\n\n\njson_result += ']} }';\n\nreturn {json_result};"
      },
      "id": "778119bb-6cbf-4348-9d07-d88afb2099b1",
      "name": "Optional Extras JSON1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2440,
        120
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "//Master Board Column, Get Master Board Item\nvar masterBoardColumns = $node[\"Get Board ALL JOBS Item\"].json;\nvar targetBoardColumns = $node[\"Get Board #6 Item\"].json;\n\n//If you want to ignore some columns you can add them over here. If not required, just use []\nvar ignoreColumnFromMaster = [];\nvar outuputJSON = {};\n\n\nmasterBoardColumns.column_values.forEach(function(data) {\n  var targetColumnId = targetBoardColumns.column_values.filter(obj => obj.title == data.title && obj.type == data.type).map(filteredObj => filteredObj.id);\n\n  if (typeof targetColumnId !== 'undefined' && targetColumnId && targetColumnId.length > 0 && !ignoreColumnFromMaster.includes(data.title)) {\n    switch (data.type) {\n      case \"text\":\n        outuputJSON[targetColumnId] = data.text ? data.text : \"\";\n        break;\n\n      case \"numeric\":\n          outuputJSON[targetColumnId] =data.value ? (data.value.replace(/[^0-9]/g, '')) : \"\" ;\n        \n        break;\n\n      case \"date\":\n        outuputJSON[targetColumnId] = data.text ? {\n          \"date\": data.text\n          // \"time\": \"00:00:00\"\n        } : {};\n        break;\n\n      case \"board-relation\":\n        var bData = data.value;\n        if (bData !== undefined && bData !== null && bData.constructor == String) {\n          bData = JSON.parse(bData);\n        }\n        if (bData != null) {\n          var dependencyList = bData.linkedPulseIds.map(u => u.linkedPulseId);\n          outuputJSON[targetColumnId] = {\n            item_ids: dependencyList\n          };\n        }\n\n        break;\n        // Status Tye\n      case \"color\":\n        if (data.text) {\n          outuputJSON[targetColumnId] = {\n            label: data.text\n          };\n        }\n\n        break;\n        // Timeline Type\n      case \"timerange\":\n        if (data.value) {\n          var bData = data.value;\n          if (bData !== undefined && bData !== null && bData.constructor == String) {\n            bData = JSON.parse(bData);\n          }\n          if (bData != null) {\n            outuputJSON[targetColumnId] = {\n              to: bData.to,\n              from: bData.from\n            };\n          }\n        }\n        break;\n      default:\n    }\n  }\n});\n\nlet result = JSON.stringify(outuputJSON);\n\nreturn {\n  result\n};\n"
      },
      "id": "62c99716-e3cb-40ee-b5e6-96f9e9a2dc0f",
      "name": "JSON Master Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2700,
        300
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "itemId": "={{ $node[\"Get ALL JOBS Item\"].json[\"id\"] }}"
      },
      "id": "b24f091a-b5a8-4fdd-82df-16bf93a146f4",
      "name": "Get Board ALL JOBS Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2520,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cleanenergydirect.app.n8n.cloud/webhook-test/17046e5b-65fc-4887-891e-4afddfcb972b",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source_item_id",
              "value": "={{ $node[\"Get Board ALL JOBS Item\"].json.id }}"
            },
            {
              "name": "target_item_id",
              "value": "={{ $node[\"Get Board #6 Item\"].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97ce552a-087c-41ee-aa7e-a6bcede2df0e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3420,
        540
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "36"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-16T07:24:12.000Z",
  "versionId": "458504bf-9540-463b-8a77-de8c1ebf0aaf"
}