workflows/Create S1 Booking Form.json
{
  "active": true,
  "connections": {
    "Transfer Column Data": {
      "main": [
        [
          {
            "node": "Update Stage to B2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Board ALL JOBS Item": {
      "main": [
        [
          {
            "node": "Booking Form JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Stage to B2": {
      "main": [
        [
          {
            "node": "Move to Group 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Group 2": {
      "main": [
        [
          {
            "node": "Get Today's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Date": {
      "main": [
        [
          {
            "node": "Update Completion Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Completion Date": {
      "main": [
        [
          {
            "node": "Delete Item Board #1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Master Update": {
      "main": [
        [
          {
            "node": "Transfer Column Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Item Board #1": {
      "main": [
        [
          {
            "node": "Run n8n Copy Updates to Master Worflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Board #3 Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Board #3 Item": {
      "main": [
        [
          {
            "node": "Create Item Board #Booking Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Item Board #Booking Form": {
      "main": [
        [
          {
            "node": "Get Board ALL JOBS Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item Board #Booking Form": {
      "main": [
        [
          {
            "node": "Get Item Board #Booking Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Form JSON": {
      "main": [
        [
          {
            "node": "Link Booking Form to Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-19T06:37:57.619Z",
  "id": "41",
  "name": "Create S1 Booking Form",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ '{\"challenge\": \"'+$json[\"body\"][\"challenge\"]+'\"}' }}",
        "options": {}
      },
      "id": "da98e7c6-9c7d-431b-aa49-6500b99b1135",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1660,
        60
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "3753873737",
        "itemId": "={{ $node[\"Get Item Board #Booking Form\"].json[\"id\"] }}",
        "columnValues": "={{ $json[\"result\"] }}"
      },
      "id": "963f84c5-f90f-4c2d-82e4-7c136ad83307",
      "name": "Transfer Column Data",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1940,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "delete",
        "itemId": "={{ $node[\"Get Board #3 Item\"].json[\"id\"] }}"
      },
      "id": "669d72cb-6dfa-452b-abdb-81f810c5cdfd",
      "name": "Delete Item Board #1",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2980,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "content": "# Create Stage 1 Booking Form",
        "height": 80,
        "width": 563
      },
      "id": "3d12c8a7-4f30-41e5-adef-5b6b58b80faa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        40
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "3729016273",
        "columnId": "name",
        "columnValue": "={{ $node[\"Get Board #3 Item\"].json[\"name\"] }}"
      },
      "id": "65180aae-d4a1-4b50-b30c-b4bd762c4315",
      "name": "Get Board ALL JOBS Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "3729016273",
        "itemId": "={{ $node[\"Get Board ALL JOBS Item\"].json[\"id\"] }}",
        "columnValues": "={{\n  JSON.stringify({\"dup__of_load_1drive4\":\"2. Ready for Call up\"})\n}}"
      },
      "id": "71494527-e4a2-491c-9b39-6ccfe4cae7ed",
      "name": "Update Stage to B2",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2160,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "content": "## Process Flow Overview\n\n",
        "height": 231.95886970560537,
        "width": 567.9437012812813
      },
      "id": "297fccbf-6443-4add-8cd2-2e4a1ebf98ce",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        -20
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "move",
        "boardId": "3729016273",
        "itemId": "={{ $json[\"id\"] }}",
        "groupId": "new_group95636"
      },
      "id": "f4566ce3-ed0f-494d-b2c4-a65eddc90f4e",
      "name": "Move to Group 2",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2380,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var date_today = new Date().toISOString().slice(0, 10);\n\n//items[0].json.date_today = date;\n\nreturn {date_today};"
      },
      "id": "6aeefaba-0556-4f0d-a159-265849d95d89",
      "name": "Get Today's Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2580,
        560
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "3729016273",
        "itemId": "={{ $node[\"Move to Group 2\"].json[\"id\"] }}",
        "columnValues": "={{ \n\n         JSON.stringify({\"date\":$node[\"Get Today's Date\"].json[\"date_today\"] })\n\n }}"
      },
      "id": "72240a85-808b-4f31-bcb8-ed21d9812fc8",
      "name": "Update Completion Date",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2780,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//Master Board Column, Get Master Board Item\nvar masterBoardColumns = $node[\"Get Board ALL JOBS Item\"].json;\nvar targetBoardColumns = $node[\"Get Item Board #Booking Form\"].json;\n\n//If you want to ignore some columns you can add them over here. If not required, just use []\nvar ignoreColumnFromMaster = [];\nvar outuputJSON = {};\n\n// For all columns in the Master Board\n// \nmasterBoardColumns.column_values.forEach(function(data) {\n  // Get the targetColumnId\n  // Filter the target board columns to those who have the same title and data type, THEN return the target column ID\n  // Returns an array of target column ID's\n  var targetColumnId = targetBoardColumns.column_values.filter(obj => obj.title == data.title && obj.type == data.type).map(filteredObj => filteredObj.id);\n\n  // If Target Column Array exists, has an element and we are not ignoring this column\n  // THEN form the JSON depending on the data type\n  if (typeof targetColumnId !== 'undefined' && targetColumnId && targetColumnId.length > 0 && !ignoreColumnFromMaster.includes(data.title)) {\n    switch (data.type) {\n      case \"text\":\n        outuputJSON[targetColumnId] = data.text ? data.text : \"\";\n        break;\n\n      case \"numeric\":\n        outuputJSON[targetColumnId] = data.value ? (data.value.replace(/[^0-9]/g, '')) :\"\";\n        break;\n\n      case \"date\":\n        outuputJSON[targetColumnId] = data.text ? {\n          \"date\": data.text\n          // \"time\": \"00:00:00\"\n        } : {};\n        break;\n\n      case \"board-relation\":\n        var bData = data.value;\n        if (bData !== undefined && bData !== null && bData.constructor == String) {\n          bData = JSON.parse(bData);\n        }\n        if (bData != null) {\n          var dependencyList = bData.linkedPulseIds.map(u => u.linkedPulseId);\n          outuputJSON[targetColumnId] = {\n            item_ids: dependencyList\n          };\n        } else {\n            outuputJSON[targetColumnId] = {\n            item_ids: undefined\n          };\n        }\n\n        break;\n        // Status Tye\n      case \"color\":\n        if (data.text) {\n          outuputJSON[targetColumnId] = {\n            label: data.text\n          };\n        }\n\n        break;\n        // Timeline Type\n      case \"timerange\":\n        if (data.value) {\n          var bData = data.value;\n          if (bData !== undefined && bData !== null && bData.constructor == String) {\n            bData = JSON.parse(bData);\n          }\n          if (bData != null) {\n            outuputJSON[targetColumnId] = {\n              to: bData.to,\n              from: bData.from\n            };\n          }\n        }\n        break;\n      default:\n    }\n  }\n});\n\nlet result = JSON.stringify(outuputJSON);\n\nreturn {\n  result\n};\n"
      },
      "id": "fb93cc12-f161-4d63-a332-1c9a34f87341",
      "name": "JSON Master Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1700,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cleanenergydirect.app.n8n.cloud/webhook/17046e5b-65fc-4887-891e-4afddfcb972b",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source_item_id",
              "value": "={{ $node[\"Get Board ALL JOBS Item\"].json[\"id\"] }}"
            },
            {
              "name": "target_item_id",
              "value": "={{ $node['Get Item Board #Booking Form'].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c336e6f5-a777-42e7-b514-b5e6a9b9d1c9",
      "name": "Run n8n Copy Updates to Master Worflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3160,
        560
      ],
      "notesInFlow": true,
      "notes": "https://cleanenergydirect.app.n8n.cloud/workflow/30"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "61dfc8ec-8b93-4bb0-b852-24d822f63c14",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "18dec941-f919-4ae3-a710-727c58c60007",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1480,
        300
      ],
      "webhookId": "61dfc8ec-8b93-4bb0-b852-24d822f63c14"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "3601419425",
        "columnId": "item_id",
        "columnValue": "={{ JSON.stringify($json[\"body\"][\"event\"][\"pulseId\"]) }}"
      },
      "id": "72402581-6040-4d93-9728-466e382b4f52",
      "name": "Get Board #3 Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "itemId": "={{ $json[\"id\"] }}"
      },
      "id": "455f256a-a6d5-4846-95c4-6b941429b7b9",
      "name": "Get Item Board #Booking Form",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2140,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "=4553360261",
        "groupId": "topics",
        "name": "={{ $json[\"name\"] }}",
        "additionalFields": {}
      },
      "id": "bec631e0-3a9d-4a40-94a6-c51defddbe43",
      "name": "Create Item Board #Booking Form",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1920,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "=4553360261",
        "itemId": "={{ $node['Create Item Board #Booking Form'].json.id }}",
        "columnValues": "={{ $json.bookingJSON }}"
      },
      "id": "a0a5f809-e13c-46e4-bbe5-d15b8502afbe",
      "name": "Link Booking Form to Master",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var outputJSON = {};\n\n// Set the Master Record \nconst masterID = +$node['Get Board ALL JOBS Item'].json.id.replace(/[^0-9]/g, '');\noutputJSON[\"connect_boards4\"] = { \"item_ids\": [masterID]};\n//console.log(outputJSON);\n\n// Set the Form's PO # \nconst poNumber = $node['Get Board #3 Item'].json.column_values[1].text;\noutputJSON[\"numbers\"] = poNumber;\n\n// Set the Customer\noutputJSON[\"text8\"] = \"Henley\";\n\n// Return the JSON\nlet bookingJSON = JSON.stringify(outputJSON);\nreturn { bookingJSON };\n\n\n/* #######################################################################################\n## JSON from move boards\n### {\"text2\":\"1111111\",\n### \"board_relation2\":{\"item_ids\":[3841069956]},\n### \"numeric\":\"\",\"numeric1\":\"\",\n### \"board_relation29\":{\"item_ids\":[3841069956]},\n### \"text\":\"222222\",\"board_relation294\":{\"item_ids\":[3841069956]},\n### \"text6\":\"3333333333\",\n### \"date53\":{},\n### \"date1\":{},\n### \"text8\":\"\",\n### \"text4\":\"\"}\n########################################################################################## */\n\n"
      },
      "id": "e1eedb14-c41d-4460-9073-376784fe2433",
      "name": "Booking Form JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2580,
        300
      ]
    },
    {
      "parameters": {
        "content": "## JSON from move boards\n### {\"text2\":\"1111111\",\n### \"board_relation2\":{\"item_ids\":[3841069956]},\n### \"numeric\":\"\",\"numeric1\":\"\",\n### \"board_relation29\":{\"item_ids\":[3841069956]},\n### \"text\":\"222222\",\"board_relation294\":{\"item_ids\":[3841069956]},\n### \"text6\":\"3333333333\",\n### \"date53\":{},\n### \"date1\":{},\n### \"text8\":\"\",\n### \"text4\":\"\"}",
        "height": 487.256487037536,
        "width": 721.0106124129304
      },
      "id": "cca0d048-6128-4277-80f6-150bf4c24c5b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3400,
        -40
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "36"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-20T06:24:34.000Z",
  "versionId": "dd53cf98-d00a-4466-a396-e9315bb58335"
}