workflows/Create S1 Booking Form.json
{
  "active": true,
  "connections": {
    "Get Board ALL JOBS Item": {
      "main": [
        [
          {
            "node": "Booking Form JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Board #3 Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Board #3 Item": {
      "main": [
        [
          {
            "node": "Create Item Board #Booking Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Item Board #Booking Form": {
      "main": [
        [
          {
            "node": "Get Board ALL JOBS Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item Board #Booking Form": {
      "main": [
        [
          {
            "node": "Get Item Board #Booking Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Form JSON": {
      "main": [
        [
          {
            "node": "Link Booking Form to Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-19T06:37:57.619Z",
  "id": "41",
  "meta": null,
  "name": "Create S1 Booking Form",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ '{\"challenge\": \"'+$json[\"body\"][\"challenge\"]+'\"}' }}",
        "options": {}
      },
      "id": "da98e7c6-9c7d-431b-aa49-6500b99b1135",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1660,
        60
      ]
    },
    {
      "parameters": {
        "content": "# Create Stage 1 Booking Form",
        "height": 80,
        "width": 563
      },
      "id": "3d12c8a7-4f30-41e5-adef-5b6b58b80faa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        40
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "3729016273",
        "columnId": "name",
        "columnValue": "={{ $node[\"Get Board #3 Item\"].json[\"name\"] }}"
      },
      "id": "65180aae-d4a1-4b50-b30c-b4bd762c4315",
      "name": "Get Board ALL JOBS Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "content": "## Process Flow Overview\n\n",
        "height": 231.95886970560537,
        "width": 567.9437012812813
      },
      "id": "297fccbf-6443-4add-8cd2-2e4a1ebf98ce",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "61dfc8ec-8b93-4bb0-b852-24d822f63c14",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "18dec941-f919-4ae3-a710-727c58c60007",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1480,
        300
      ],
      "webhookId": "61dfc8ec-8b93-4bb0-b852-24d822f63c14"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "3601419425",
        "columnId": "item_id",
        "columnValue": "={{ JSON.stringify($json[\"body\"][\"event\"][\"pulseId\"]) }}"
      },
      "id": "72402581-6040-4d93-9728-466e382b4f52",
      "name": "Get Board #3 Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "itemId": "={{ $json[\"id\"] }}"
      },
      "id": "455f256a-a6d5-4846-95c4-6b941429b7b9",
      "name": "Get Item Board #Booking Form",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2140,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "=4553360261",
        "groupId": "topics",
        "name": "={{ $json[\"name\"] }}",
        "additionalFields": {}
      },
      "id": "bec631e0-3a9d-4a40-94a6-c51defddbe43",
      "name": "Create Item Board #Booking Form",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1920,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "=4553360261",
        "itemId": "={{ $node['Create Item Board #Booking Form'].json.id }}",
        "columnValues": "={{ $json.bookingJSON }}"
      },
      "id": "a0a5f809-e13c-46e4-bbe5-d15b8502afbe",
      "name": "Link Booking Form to Master",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        300
      ],
      "credentials": {
        "mondayComApi": {
          "id": "1",
          "name": "Monday.com - Clean Energy Direct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var outputJSON = {};\n\n// Set the Master Record \nconst masterID = +$node['Get Board ALL JOBS Item'].json.id.replace(/[^0-9]/g, '');\noutputJSON[\"connect_boards4\"] = { \"item_ids\": [masterID]};\n//console.log(outputJSON);\n\n// Set the Form's PO # \nconst poNumber = $node['Get Board #3 Item'].json.column_values[1].text;\noutputJSON[\"numbers\"] = poNumber;\n\n// Set the Customer\noutputJSON[\"text8\"] = \"Henley\";\n\n// Return the JSON\nlet bookingJSON = JSON.stringify(outputJSON);\nreturn { bookingJSON };\n\n\n/* #######################################################################################\n## JSON from move boards\n### {\"text2\":\"1111111\",\n### \"board_relation2\":{\"item_ids\":[3841069956]},\n### \"numeric\":\"\",\"numeric1\":\"\",\n### \"board_relation29\":{\"item_ids\":[3841069956]},\n### \"text\":\"222222\",\"board_relation294\":{\"item_ids\":[3841069956]},\n### \"text6\":\"3333333333\",\n### \"date53\":{},\n### \"date1\":{},\n### \"text8\":\"\",\n### \"text4\":\"\"}\n########################################################################################## */\n\n"
      },
      "id": "e1eedb14-c41d-4460-9073-376784fe2433",
      "name": "Booking Form JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2580,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Create the booking form",
        "height": 240.40353345318766,
        "width": 427.6082447241049
      },
      "id": "932708fb-f3ad-441f-9355-4ed093ee2136",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1880,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Update the booking form",
        "height": 254.5094165151504,
        "width": 429.01883303030115
      },
      "id": "244f94e4-9a9c-4837-84dc-b3deba5ee054",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2540,
        240
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "36"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-20T21:24:17.000Z",
  "versionId": "60a6a9d0-1c8e-4e21-993b-218ca66dd8c2"
}